<app-card *ngIf="model" [padding]="10">
  <div class="list-item">
    <div class="details">
      <div class="details__icon-wrapper">
        <mat-icon>description</mat-icon>
      </div>
      <div>
        <div class="details__title">{{ model.title }}</div>
        <div class="details__owner">{{ model.owner }}</div>
      </div>
    </div>
    <div class="created-date">{{ model.createdDate }}</div>
    <div class="actions">
      <button mat-icon-button>
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
</app-card>