@if (cardStyle) {
  <app-card *ngIf="model" [padding]="5" [hoverable]="true">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </app-card>
}
@else {
  <ng-container *ngTemplateOutlet="content"></ng-container>
}

<ng-template #content>
  @if (!!model) {
    <a class="card-link" [routerLink]="['view', model.id]"></a>
    <div class="list-item" [ngClass]="{ 'padding-full': cardStyle }">
      <div class="details">
        <div class="details__icon-wrapper">
          <mat-icon>description</mat-icon>
        </div>
        <div>
          <div class="details__title">{{ model.title }}</div>
          <div class="details__owner">{{ model.owner }}</div>
        </div>
      </div>
      <div class="created-date">{{ model.createdDate | date: 'dd.MM.yyyy' }}</div>
      <div class="actions">
        <button mat-icon-button>
          <mat-icon>notifications</mat-icon>
        </button>
        <a mat-icon-button [routerLink]="['edit', model.id]">
          <mat-icon>edit</mat-icon>
        </a>
      </div>
    </div>
  }
</ng-template>