.panel-container {
  display: flex;
  align-items: center;
}

.panel__image-wrapper {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: gray;
  margin-right: 8px;
}

.panel__user-info{

}

.panel__button {
  width: 100%;
}