<div class="page-container">
  <div class="page-left">
    <div class="page-left__title">ReqSense helps<br />gather requirements</div>
    <div class="page-left__subtitle">Manage requirements with AI assistance</div>
  </div>
  <div class="page-right">
    <div class="page-right__logo">ReqSense</div>
    <div class="form-wrapper">
      <form *ngIf="!!form" class="form" [formGroup]="form">
        <div class="form__title">Log in</div>
        <mat-form-field class="form__field_fw">
          <mat-label>Email</mat-label>
          <input type="email" matInput [formControl]="getControl('email')" placeholder="Enter your email here">
          @if (getControl('email').hasError('email') && !getControl('email').hasError('required')) {
          <mat-error>Please enter a valid email address</mat-error>
          }
          @if (getControl('email').hasError('required')) {
          <mat-error>Email is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field class="form__field_fw">
          <mat-label>Password</mat-label>
          <input type="text" matInput [formControl]="getControl('password')" placeholder="Enter your password here">
          @if (getControl('password').hasError('required')) {
          <mat-error>Password is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <button mat-stroked-button color="primary" class="form__button form__field_fw" type="button" (click)="login()">Sign in</button>
        <div class="form__link-wrapper">
          <a href="#">Forgot your password?</a>
        </div>
        <div class="form__link-wrapper">
          <a routerLink="/account/register">Register new account</a>
        </div>
      </form>
    </div>
  </div>
</div>