@if (cardStyle) {
  <app-card [padding]="5" [hoverable]="true">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </app-card>
}
@else {
  <ng-container *ngTemplateOutlet="content"></ng-container>
}

<ng-template #content>
  @if (!!model) {
    <div class="list-item" [ngClass]="{ 'padding-full': cardStyle }">
      <div class="contacts">
        <div class="contacts__image-wrapper"></div>
        <div>
          <div class="contacts__name">{{ model.name }}</div>
          <div class="contacts__email">{{ model.email }}</div>
        </div>
      </div>
      <div class="joined-date">{{ model.joinedDate | date: 'dd.MM.yyyy' }}</div>
      <div *ngIf="showActions" class="actions">
        <button mat-icon-button>
          <mat-icon>person_remove</mat-icon>
        </button>
      </div>
    </div>
  }
</ng-template>