<h2 mat-dialog-title>Create new project</h2>
<mat-dialog-content class="dialog__content">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input
      matInput
      [formControl]="getControl('title')"
    >
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea
      matInput
      placeholder="You can enter up to 200 symbols"
      [formControl]="getControl('description')"
    ></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions [align]="'end'">
  <button mat-button [mat-dialog-close]>Cancel</button>
  <button mat-flat-button color="primary" (click)="submit()">Create</button>
</mat-dialog-actions>
