<section class="content-section">
  <h1>Project requirements</h1>
  <p>At this page you can see all requirements for your projects. Collaborate with others and strive to success!</p>
</section>
<section class="content-section">
  <div class="actions">
    <div class="actions-left">
      <app-select style="margin-right: 15px;"
        [options]="options"
        [value]="options[0].value"
        ></app-select>
      <a mat-stroked-button [routerLink]="['new']">Add requirement</a>
    </div>
    <div class="actions-right">
      <app-input
        [icon]="'search'"
        [placeholder]="'Search by title'"
      ></app-input>
    </div>
  </div>
  <div class="requirements-list-wrapper">
    <app-requirements-list [listItems]="requirements"></app-requirements-list>
  </div>
</section>