<div class="page-container">
  <div class="page-left">
    <section class="content-section">
      <h1>{{ project?.title }}</h1>
      <p>{{ project?.description }}</p>
      <button mat-stroked-button>Go to settings</button>
    </section>
    <section class="content-section">
      <h1>Project members</h1>
      <app-members-list *ngIf="!!members" [listItems]="members"></app-members-list>
      <div class="members-actions">
        <button mat-stroked-button>
          <mat-icon>person_add</mat-icon>
          Invite member
        </button>
        <a mat-button routerLink="members">
          View all
        </a>
      </div>
    </section>
  </div>
  <div class="page-right" *ngIf="!!insights">
    <h2>Insights</h2>
    <div class="insights-container">
      <div class="insights-card">
        <div class="insights-card__title">{{ insights.requirementsByWeek }}</div>
        <div class="insights-card__subtitle">Requirements gathered this week</div>
      </div>
      <div class="insights-card">
        <div class="insights-card__title">{{ insights.totalRequirements }}</div>
        <div class="insights-card__subtitle">Total requirements</div>
      </div>
    </div>
  </div>
</div>