.content-section {
  margin-bottom: 50px;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
}

.requirements-list-wrapper {
  margin-top: 15px;
}

.select-button {
  position: relative;

}