<section class="content-section">
  <h1>Edit requirement</h1>
</section>
<div class="action-bar">
  <div class="action-bar-info">
    <div class="info">
      <div class="info-header">Created by</div>
      <div class="info-body">
        <div class="info__image"></div>
        <div class="info-content">
          <div class="info__name">{{ requirement?.creatorName }}</div>
          <div class="info__date">
            {{ requirement?.created | date : "dd.MM.yyyy, HH:mm:ss" }}
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="requirement?.lastEditorName && requirement?.lastModified"
      class="info"
    >
      <div class="info-header">Last edited by</div>
      <div class="info-body">
        <div class="info__image"></div>
        <div class="info-content">
          <div class="info__name">{{ requirement?.lastEditorName }}</div>
          <div class="info__date">
            {{ requirement?.lastModified | date : "dd.MM.yyyy, HH:mm:ss" }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="action-bar-actions">
    <button mat-button>
      <mat-icon>history</mat-icon>
      History
    </button>
    <button mat-button (click)="onDeleteRequirement()">
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </div>
</div>
<form *ngIf="form" [formGroup]="form">
  <mat-form-field appearance="outline" class="requirement__title">
    <mat-label>Title</mat-label>
    <input
      matInput
      [formControl]="getControl('title')"
    />
  </mat-form-field>
  <mat-form-field appearance="outline" class="form__field_full-width">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      [formControl]="getControl('description')"
      class="requirement__description"
    ></textarea>
  </mat-form-field>
  <div class="form__actions">
    <a mat-button [routerLink]="['../../']">Cancel</a>
    <button mat-flat-button color="primary" (click)="onUpdateRequirement()">
      <mat-icon>check_circle</mat-icon>
      Save
    </button>
  </div>
</form>
