.content-section {
  margin-bottom: 50px;
}

.greeting-section {
  .greeting-buttons {
    margin-top: 24px;
  }
}

.user-activity {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.no-activity-section {
  text-align: center;
  justify-content: center;

  .no-activity__image {
    user-select: none;
    max-height: 80px;
  }
}

